<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ data.type}}</h1>
<table>
  <tr align="left">
    <th>Name</th>
      <td width="10"></td>
    <th>Email</th>
      <td width="10"></td>
    <th>Country</th>
  </tr>
    {%for emp in data.attributes %}
      <tr align="left">
        <td>{{ emp.first_name}}  {{ emp.last_name }}</td>
          <td width="10"></td>
        <td>{{ emp.email_address }}</td>
          <td></td>
        <td width="10">{{ emp.country }}</td>
      </tr>
    {% endfor %}
</table>
</body>
</html>